  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand"><img class="image-resp" src="./assets/images/2D_2E_images/Menu_Green.png"></a>
        <a class="navbar-brand"><img class="img-responsive" src="./assets/images/2D_2E_images/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <li class="custom-active"><a href="#" id="qwerty1"><img class="navicons" src="./assets/images/2D_2E_images/rss-symbol (2).png"><b> Feed</b></a></li>
          <li><a class="algn1" href="#"><img class="navicons" src="./assets/images/2D_2E_images/users-group.png"><b> Groups</b></a></li>
          <li><a class="algn1" href="" ><img class="navicons" src="./assets/images/2D_2E_images/manager.png"><b> People</b></a></li>
          <li><a class="algn1" href="#"><img class="navicons" src="./assets/images/2D_2E_images/swimming.png"><b> Activity</b></a></li>
          <li><a class="algn1" href="#"><img class="navicons" src="./assets/images/2D_2E_images/support.png"><b> Chat</b></a></li>
          <li><a class="algn2 pull-right" href="#"><img class="img pull-right" src="./assets/images/2D_2E_images/qwinix.png" alt="Avatar"></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container padding_top">
      <div class="row content padding_top"> 
        <div class="col-sm-3 col-md-3 col-xs-12 col-lg-3">
          <div class="well center" id="back_ground_color">
            <img src="../assets/images/33.jpeg" class="img-circle center-block mtop33 imghw" height="90px" width="90px" alt="error"/>
            <p id="text">Varginia's Paterson
              user since 7th may 2018
            </p>
          </div>
         
          <div class="well wellcolor" id="border">
            <div class="row">
              <div class="col-sm-2 col-md-1 col-lg-1 col-xs-1">
                <img src="../assets/images/co1.png">
              </div>
              <div class="col-sm-9 col-md-10 col-lg-10 col-xs-10">
                <p>CIO of Littleof This Co</p>
              </div>
            </div>
            <div class="row pt10">
              <div class="col-sm-2 col-md-1 col-lg-1 col-xs-1">
                <img src="../assets/images/edu.png">
              </div>
              <div class="col-sm-9 col-md-10 col-lg-10 col-xs-10">
                <p>Education</p>
              </div>
            </div>
            <div class="row pt10">
              <div class="col-sm-2 col-md-1 col-lg-1 col-xs-1">
                <img src="../assets/images/follow11.png">
              </div>
              <div class="col-sm-9 col-md-10 col-lg-10 col-xs-10">
                <p>115 Following</p>
              </div>
            </div>
            <div class="row pt10">
              <div class="col-sm-2 col-md-1 col-lg-1 col-xs-1">
                <img src="../assets/images/feed.png">
              </div>
              <div class="col-sm-9 col-md-10 col-lg-10 col-xs-10">
                <p>20 Post</p>
              </div>
            </div>
          </div>
          
          <div class="well border1 wellcolor">
            <h4 class="f-size19">Virgina's Intrests</h4><br/>
            <button class="button button1 interest-button">AWS</button>
            <button class="button button2 interest-button">Home Automation</button><br>
            <button class="button button3 interest-button">Big Data</button>
            <button class="button button4 interest-button">Dev ops</button><br>
            <button class="button button5 interest-button">little Data</button>
            <button class="button button6 interest-button">Security</button><br>
            <button class="button button7 interest-button">Content management</button>
          </div>
        
          <div class="well wellcolor">
            <div class="row">
              <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 media-heading"><h4 class="f-size19">Top providers</h4>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 allshow"><h6>Show All</h6></div>
            </div>
            <div class="media-left row col-sm-3 col-md-3 col-lg-3 col-xs-3">
              <img src="../assets/images/11.jpeg" class="img-circle tpimg" height="50px" width="50px" alt="error">
            </div>
            <div class="media-body pl54">
              <h4 class="media-heading"><b>Qwinix ic</b></h4>
              <p>Technology</p>
            </div>
            <hr/>

            <div class="media-left row col-sm-3 col-md-3 col-lg-3 col-xs-3">
              <img src="../assets/images/12.jpeg" class="img-circle tpimg" height="50px" width="50px" alt="error">
            </div>
            <div class="media-body pl54">
              <h4 class="media-heading"><b>Spark Industries</b></h4>
              <p>Aerospace</p>
            </div>
            <hr/>

            <div class="media-left row col-sm-3 col-md-3 col-lg-3 col-xs-3">
              <img src="../assets/images/21.jpeg" class="img-circle tpimg" height="50px" width="50px" alt="error">
            </div>
            <div class="media-body pl54">
              <h4 class="media-heading"><b>Umbrella Crop</b></h4>
              <p>Bio reasearch</p>
            </div>
            <hr/>

            <div class="media-left row col-sm-3 col-md-3 col-lg-3 col-xs-3">
              <img src="../assets/images/22.png" class="img-circle tpimg" height="50px" width="50px" alt="error">
            </div>
            <div class="media-body pl54">
              <h4 class="media-heading"><b>That One Company</b></h4>
              <p>Education</p>
            </div>
          </div>
          </div>
        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
          <div class="padding_bottom">
            <div class="form-group has-feedback">
              <input type="text" class="form-control input-lg" placeholder="Search Feed">
              <span class="glyphicon glyphicon-search form-control-feedback">
              </span>
            </div>
          </div>
          <div>
            <div class="well wellcolor" style="padding-bottom: 1px;">
              <div class="row">
              <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                <img src="../assets/images/33.jpeg" class="img-circle-pimg" alt="error">
              </div>

              <div class="col-sm-10 col-md-10 col-lg-10 col-xs-10">
                <p>Tittle Of My Post</p>
              
                <input type="text" class="form-control input-lg" placeholder="Tittle or Hyperlink">
              </div>
              </div>
              <div class="row padding_bottom" id="ping1">
                <button data-toggle="modal" data-target="#myModal" id="next" class="pull-right btn btn-default">Next</button>
              </div>
            </div>
          </div>

            <div class="well wellcolor" id="bcolor1">
              <div class="row">
                <img src="../assets/images/13.jpeg" height="326px" width="100%" alt="error" style="margin-top: -19px;">
              </div>
              <br/>
              <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                  <img src="../assets/images/4.jpeg" class="img-circle tpimg" height="40px" width="50px" alt="error">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 col-xs-6 pl35">
                  <h4 class="media-heading allshow">Konnexe Team</h4>
                  <h6>Team at konnexe</h6>
                  <h4> Content Lorem Ipsum Dolor Set Amith Lorem Ipsum</h4>
                  <h6>Ipsum Lorem Ipsum Lorem</h6>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 txtright">2hr</div>
                 <div class="col-sm-1 col-md-1 col-lg-1 col-xs-2 allshow1 txtright">:</div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"><img src="../assets/images/chat.png" class="fontsize chat"><span class="number">325</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                  <span class="size bccolor"> Promoted By Konnex</span>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 txtright" id="like2">
                  <img  src="../assets/images/3.png" class="fontsize chat "><span class="number">200</span>
                </div>
              </div>
            </div>
              
            <div class="well wellcolor mtop" id="displaysubs" style="display:none">


            </div>
            <div class="well wellcolor mtop">
              <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                  <img src="../assets/images/1.jpeg" class="img-circle tpimg" height="40px" width="50px" alt="error">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 col-xs-6 pl35">
                  <h4 class="media-heading allshow">Firstname Lastname</h4>
                  <h6>Designation / Status</h6>
                  <h4> Content Lorem Ipsum Dolor Set Amith Lorem Ipsum</h4>
                  <h6>Ipsum Lorem Ipsum Lorem</h6>
                  <div class="row">
                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 txtright">
                    <img class="smimg" src="../assets/images/1.png" height="90px" width="90px">
                    </div>
                    <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 " style="padding-left: 0px;">
                    <img class="smimg" src="../assets/images/2.png" height="90px" width="90px">
                    </div>
                  </div>
                </div>
                 <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 txtright">2hr</div>
                 <div class="col-sm-1 col-md-1 col-lg-1 col-xs-2 allshow1 txtright">:</div> 
              </div>
            
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"><img src="../assets/images/chat.png" class="fontsize chat"><span class="number">325</span></div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 txtright"><img id="like1" src="../assets/images/3.png" class="fontsize chat"><span class="number">205</span></div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                  <img src="../assets/images/4.jpeg" class="img-circle tpimg" height="40px" width="50px" alt="error">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 col-xs-6 pl35">
                  <h4 class="media-heading allshow">Firstname Lastname</h4>
                  <h6>Designation / Status</h6>
                  <h4> Content Lorem Ipsum Dolor Set Amith Lorem Ipsum</h4>
                  <h6>Ipsum Lorem Ipsum Lorem</h6>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 txtright">2hr</div>
                 <div class="col-sm-1 col-md-1 col-lg-1 col-xs-2 allshow1 txtright">:</div>
              </div>
              <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"><img src="../assets/images/chat.png" class="fontsize chat"><span class="number">325</span></div>
                  <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 txtright"><img id="like4" src="../assets/images/3.png" class="fontsize chat"><span class="number">200</span></div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                  <img src="../assets/images/3.jpeg" class="img-circle tpimg" height="40px" width="50px" alt="error">
                </div>
                <div class="col-sm-7 col-md-7 col-lg-7 col-xs-6 pl35">
                  <h4 class="media-heading allshow">Firstname Lastname</h4>
                  <h6>Designation / Status</h6>
                  <h4> Content Lorem Ipsum Dolor Set Amith Lorem Ipsum</h4>
                  <h6>Ipsum Lorem Ipsum Lorem</h6>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 txtright">2hr</div>
                 <div class="col-sm-1 col-md-1 col-lg-1 col-xs-2 allshow1 txtright">:</div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"><img src="../assets/images/chat.png" class="fontsize chat"><span class="number">333</span></div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 txtright"><img  id="like3" src="../assets/images/3.png" class="fontsize chat "><span class="number">230</span></div>
              </div>
            </div>
          </div>

          <div class="col-sm-3 col-md-3 col-xs-12 col-lg-3">
           <div class="well wellcolor">
            <div class="row">
              <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8 media-heading"><h4 class="f-size19">Who To Follow</h4></div>
              <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 allshow"><h6>Show All</h6></div>
            </div>
            <br/>

            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <img src="../assets/images/3.jpeg" class="img-circle tpimg" height="40px" width="50px" alt="error">
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9 pl35">
                <h4 class="media-heading"><b>Cole scamidt</b></h4>
                <p>CIO at loremlpsum</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-8 col-xs-8">
                <img src="../assets/images/fcolor.png" class="allshow"><span class="number">200</span>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4"><button type="button" class="media-right bcolor allshow size">Follow</button>
              </div>
            </div>
            <hr/>
            <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
              <img src="../assets/images/1.jpeg" class="img-circle tpimg" height="40px" width="50px" alt="error">
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9 pl35">
              <h4 class="media-heading"><b>Jami palmer</b></h4>
              <p>CIO at loremlpsum</p>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-8 col-xs-8"><img src="../assets/images/fcolor.png"><span class="number">225</span></div>
              <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4"><button type="button" class="media-right bcolor allshow size">Follow</button></div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <img src="../assets/images/22.jpeg" class="img-circle tpimg" height="40px" width="50px" alt="error">
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9 pl35">
                <h4 class="media-heading"><b>Brand Bensen</b></h4>
                <p>CIO at loremlpsum</p>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-8 col-xs-8"><img src="../assets/images/fcolor.png"><span class="number">205</span></div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4"><button type="button" class="media-right bcolor allshow size">Follow</button></div>
              </div>
            
            <hr/>
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
                <img src="../assets/images/4.jpeg" class="img-circle tpimg" height="40px" width="50px" alt="error">
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9 pl35">
                <h4 class="media-heading"><b>Mark otto</b></h4>
                <p>CIO at loremlpsum</p>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-8 col-xs-8"><img src="../assets/images/fcolor.png"><span class="number">222</span></div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xs-4"><button type="button" class="media-right bcolor allshow size">Follow</button></div>
              </div>
          </div>
          <div class="well wellcolor">
            <p> Privacy Policy|  User Agreement |
              About Konnexe | Help Center FAQ
            </p>
            <br/>
            <hr/>
            <p>@ 2017 Konnexe.All Right Reserved</p>
          </div> 
        </div>
      </div>
      <p id="ping3"><img src="../assets/images/Oval.png" height="55px"></p>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="row">
          <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3"><img src="./assets/images/33.jpeg" class="img-circle tpimg" height="65" width="65" alt="error">
          </div>
          <div class="modal-title col-sm-9 col-lg-9 col-md-9 col-xs-9">
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12"><p>Tittle of my post</p>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <input  id="searchinput" type="search" class="form-control title11" placeholder="Title of post">
                <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
              </div> -->
            </div>

            <div>
              <input type="file" id="imgInp"/><p id="photo">Include a Photo</p>
              <img id='img-upload'/>
            </div>
            <div>Body Of Your Post<br/>
              <div class="row">
               <!--  <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <input  id="bpost" type="search" class="form-control bbpost" placeholder="Please enter maximum(50 characters)">
                <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
                </input>
                </div> -->
              </div>

              <div class="modal-body">
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="hit">Post</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
