  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand"><img class="image-resp" src="./assets/images/2D_2E_images/Menu_Green.png"></a>
        <a class="navbar-brand" (click)="router.navigate(['/home'])"><img class="img-responsive" src="./assets/images/2D_2E_images/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li ><a class="algn1" (click)="router.navigate(['/feed-page'])" ><img class="navicons" src="./assets/images/2D_2E_images/rss-symbol.png"><b> Feed</b></a></li>
          <li><a class="algn1" href="#"><img class="navicons" src="./assets/images/2D_2E_images/users-group.png"><b> Groups</b></a></li>
          <li class="custom-active"><a href="#" id="qwerty1"><img class="navicons" src="./assets/images/2D_2E_images/manage.png"><b> People</b></a></li>
          <li><a class="algn1" href="#"><img class="navicons" src="./assets/images/2D_2E_images/swimming.png"><b> Activity</b></a></li>
          <li><a class="algn1" href="#"><img class="navicons" src="./assets/images/2D_2E_images/support.png"><b> Chat</b></a></li>
          <li><a class="algn2 pull-right" href="#"><img class="img pull-right" src="./assets/images/2D_2E_images/qwinix.png" alt="Avatar"></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <br><br><br>
  <div class="whitesmoke">
    <div class="container">    
      <div class="row content">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 decrs">
          <div class="white1">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <p><img class="img1" src="./assets/images/2D_2E_images/qwinix.png" alt="Avatar"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <p class="img2"><b>Qwinix</b></p>
                <p class="img3">Since from 2012</p><br>
              </div>
            </div>
          </div>
          <div class="well white2">
            <div class="row">
              <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1">
                <img src="./assets/images/2D_2E_images/Title_white.png">
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9">
                <p class="c-g">CIO at LittleofThis Co</p>
              </div>
            </div>
            <div class="row" id="alter">

              <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1">
                <img src="./assets/images/2D_2E_images/Industry_white.png">
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9">
                <p class="c-g">Education</p>
              </div>
            </div>
            <div class="row" id="alter">
              <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1">
                <img src="./assets/images/2D_2E_images/Network_White.png">
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9">
                <p class="c-g">115 following</p>
              </div>
            </div>
            <div class="row" id="alter">
              <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1">
                <img src="./assets/images/2D_2E_images/feed_grey.png">
              </div>
              <div class="col-sm-9 col-md-9 col-lg-9 col-xs-9">
                <p class="c-g">20 post</p>
              </div>
            </div>
          </div><br>
          <div class="well white7">
            <div id="align1">
              <h4 class="alter1">Qwinix's Interests</h4>
              <div class="button button1 interest-button">AWS</div>
              <div class="button button2 interest-button">Home Automation</div><br>
              <div class="button button3 interest-button">Big Data</div>
              <div class="button button4 interest-button">Dev ops</div><br>
              <div class="button button5 interest-button">Little Data</div>
              <div class="button button6 interest-button">Security</div><br>
              <button class="button button7 interest-button">Content management</button>
            </div>
          </div>
        </div><br>
        <div class="col-sm-6 text-left"> 
          <div class="row">
            <div id="imaginary_container"> 
              <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="Search Directory" >
                <span class="input-group-addon">
                  <button type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>  
                </span>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="well white">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 text-custom b-btm1" id="b-btm1"><p id="hi" class="cal1"><span><b>Following</b></span></p></div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 text-custom b-btm2" id="b-btm2"><p id="hello" class="cal"><b>Directory</b></p></div><br>
             <br>
              <div id="show">
                <div class="test-wraper">
                  <div class="test">
                    <div class="m-lg-10">
                      <div class="row">
                        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                          <img id="algn1" src="./assets/images/2D_2E_images/men1.jpg" alt="Avatar"><br>
                          <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 115</b></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                          <h4 class="media-heading space"><b>Cole Schmidt</b></h4>
                          <div class="space c-g"><b>CIO at Loream Ipsum-Industry</b></div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                          <div class="space1">
                            <div ng-show="parent" id="show1" class="text-custom">
                              <button class="btn btn-default parent"><img src="./assets/images/2D_2E_images/people_green.png"> UnFollow</button>
                            </div>
                            <div id="hide1" class="text-custom">
                              <button class="btn btn-default parent1"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="test4"></div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/men2.jpg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 130</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Jaine paimer</b></h4>
                      <p class="space c-g"><b>CTO at lorem Ipsum at Industry</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1" >
                        <div id="show2" class="text-custom">
                          <button class="btn btn-default hi"><img src="./assets/images/2D_2E_images/people_green.png"> UnFollow</button>
                        </div>
                        <div id="hide2" class="text-custom">
                          <button class="btn btn-default hello"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/download.jpeg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 150</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Donald J. Trump</b></h4>
                      <p class="space c-g"><b>donald j.trump for president inc</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show3" class="text-custom">
                          <button class="btn btn-default hi1"><img src="./assets/images/2D_2E_images/people_green.png"> UnFollow</button>
                        </div>
                        <div id="hide3" class="text-custom">
                          <button class="btn btn-default hello1"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/men.jpg" alt="Avatar"><br>
                      <p class="space2"><img src="./assets/images/2D_2E_images/people_green.png"> 180</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Brod Bensen</b></h4>
                      <p class="space c-g"><b>Founder at coolpir at technology</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show4" class="text-custom">
                          <button class="btn btn-default hi2"><img src="./assets/images/2D_2E_images/people_green.png"> UnFollow</button>
                        </div>
                        <div id="hide4" class="text-custom">
                          <button class="btn btn-default hello2"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/akcent.jpg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 190</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Dave Garnache</b></h4>
                      <p class="space c-g"><b>CTO at Ipsum at Industry</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show5" class="text-custom">
                          <button class="btn btn-default hi3"><img src="./assets/images/2D_2E_images/people_green.png"> UnFollow</button>
                        </div>
                        <div id="hide5" class="text-custom">
                          <button class="btn btn-default hello3"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/62724562.jpg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 100</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Jacon Thorton</b></h4>
                      <p class="space c-g"><b>Designation at Industry</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show6" class="text-custom">
                          <button class="btn btn-default hi4" ><img src="./assets/images/2D_2E_images/people_green.png"> UnFollow</button>
                        </div>
                        <div id="hide6" class="text-custom">
                          <button class="btn btn-default hello4"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/download(1).jpeg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 115</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Mart otto</b></h4>
                      <p class="space c-g"><b>Founder at coolpix at Technology</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show7" class="text-custom">
                          <button class="btn btn-default hi5"><img src="./assets/images/2D_2E_images/people_green.png"> UnFollow</button>
                        </div>
                        <div id="hide7" class="text-custom">
                          <button class="btn btn-default hello5"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div id="hide">
                <div class="test3"></div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/men2.jpg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 130</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Jaine paimer</b></h4>
                      <p class="space c-g"><b>CTO at lorem Ipsum at Industry</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show8" class="text-custom">
                          <button class="btn btn-default hi6"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                        <div id="hide8" class="text-custom">
                          <button class="btn btn-default hello6"><img src="./assets/images/2D_2E_images/people_green.png"> Unfollow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/men.jpg" alt="Avatar"><br>
                      <p class="space2"><img src="./assets/images/2D_2E_images/people_green.png"><b class="c-g-fs"> 180</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Brod Bensen</b></h4>
                      <p class="space c-g"><b>Founder at coolpir at technology</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show9" class="text-custom">
                          <button class="btn btn-default hi7"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                        <div id="hide9" class="text-custom">
                          <button class="btn btn-default hello7"><img src="./assets/images/2D_2E_images/people_green.png"> Unfollow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/akcent.jpg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 190</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Dave Garnache</b></h4>
                      <p class="space c-g"><b>CTO at lorem Ipsum at Industry</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show10" class="text-custom">
                          <button class="btn btn-default hi8"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                        <div id="hide10" class="text-custom">
                          <button class="btn btn-default hello8"><img src="./assets/images/2D_2E_images/people_green.png"> Unfollow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/62724562.jpg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 100</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Jacon Thorton</b></h4>
                      <p class="space c-g"><b>Designation at Industry</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show11" class="text-custom">
                          <button class="btn btn-default hi9"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                        <div id="hide11" class="text-custom">
                          <button class="btn btn-default hello9"><img src="./assets/images/2D_2E_images/people_green.png"> Unfollow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="m-lg-10">
                  <div class="row">
                    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                      <img id="algn1" src="./assets/images/2D_2E_images/download(1).jpeg" alt="Avatar"><br>
                      <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 115</b></p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                      <h4 class="media-heading space"><b>Mart otto</b></h4>
                      <p class="space c-g"><b>Founder at coolpix at Technology</b></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                      <div class="space1">
                        <div id="show12" class="text-custom">
                          <button class="btn btn-default hi10"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                        </div>
                        <div id="hide12" class="text-custom">
                          <button class="btn btn-default hello10"><img src="./assets/images/2D_2E_images/people_green.png"> Unfollow</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 adjust">
                    <img id="algn1" src="./assets/images/2D_2E_images/download.jpeg" alt="Avatar"><br>
                    <p class="space2"><a href="#"><img src="./assets/images/2D_2E_images/people_green.png"></a><b class="c-g-fs"> 150</b></p>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <h4 class="media-heading space"><b>Donald J. Trump</b></h4>
                    <p class="space c-g"><b>donald j.trump for president inc</b></p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                    <div class="space1">
                      <div id="show13" class="text-custom">
                        <button class="btn btn-default hi11"><img src="./assets/images/2D_2E_images/people_green.png"> Follow</button>
                      </div>
                      <div id="hide13" class="text-custom">
                        <button class="btn btn-default hello11"><img src="./assets/images/2D_2E_images/people_green.png"> Unfollow</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well white">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 white6"><p class="f-s-12">Top providers</p></div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 white6"><p class="col-custom">Show All</p></div>
            </div><br><br>
            <div class="row white9">
              <div class="col-sm-4 col-md-4 col-xs-4">
                <img id="align3" src="./assets/images/2D_2E_images/spark_icon_175.png" alt="Avatar">
              </div>
              <div class="col-sm-8 col-md-8 col-xs-8">
                <h4 class="media-heading"><b class="f-s-15">Spark Industries</b></h4>
                <p class="c-g">Aerospace</p>
              </div>
            </div><hr>
            <div class="row white9">
              <div class="col-sm-4 col-md-4 col-xs-4">
                <img id="align4" src="./assets/images/2D_2E_images/qwinix.png" alt="Avatar">
              </div>
              <div class="col-sm-8 col-md-8 col-xs-8">
                <h4 class="media-heading"><b class="f-s-15">Qwinix Inc</b></h4>
                <p class="c-g">Technology</p>
              </div>
            </div><hr>
            <div class="row white9">
              <div class="col-sm-4 col-md-4 col-xs-4">
                <img id="align5" src="./assets/images/2D_2E_images/education.png" alt="Avatar">
              </div>
              <div class="col-sm-8 col-md-8 col-xs-8">
                <h4 class="media-heading"><b class="f-s-15">That one Company</b></h4>
                <p class="c-g">Education</p>
              </div>
            </div><hr>
            <div class="row white9">
              <div class="col-sm-4 col-md-4 col-xs-4">
                <img id="align6" src="./assets/images/2D_2E_images/ABB.jpg" alt="Avatar">
              </div>
              <div class="col-sm-8 col-md-8 col-xs-8">
                <h4 class="media-heading"><b class="f-s-15">ABB India Ltd</b></h4>
                <p class="c-g">Automation</p>
              </div>
            </div>
          </div>
          <div class="well white4">
            <div class="row white01">
              <div class="col-md-12">
                <p class="f-s-9">Privacy Policy | User Agreement |</p>
                <p class="f-s-9">About Konnex | Help Center | Fax</p>
              </div>
            </div><hr>
            <div class="row white01">
              <div class="col-md-12">
                <p class="f-s-9">2017 Konnexe. All right reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
